body {
    font-family:'Merriweather Sans', sans-serif;
}

.jumbotron {
    height: 100px;
    background-color: #a9aff2;
    padding-top: 20px;
}

h1 {
    font-size: 60px;
    text-align:center;
    font-weight: extra-bold;
}

.form-group {
    margin-top: 20px;
    
}

label {
    font-weight: bold;
}

#taskDescription, #dueDate, #taskName, #assignedTo{
    border: 3px solid #a9aff2;
}

.btn {
    margin-top: 30px;
    color:black;
    background-color: #a9aff2;
}